<div class="w-100">
  <% if user_signed_in? %>
    <article class="media box">
      <div class="align-left">
        <figure class="image is-64X64">
          <%= user_avatar current_user %>
        </figure>
        <figcaption><%= "@#{current_user.username}" %></figcaption>
      </div>
      <div class="media-content">
        <%= render 'form', tweeet: @tweeet %>
      </div>
    </article>
  <% end %>

  <%= render tweeets %>
</div>